In [1]:
import jeltz

In [2]:
import configparser
config = configparser.ConfigParser()
config.read('config.ini')

['config.ini']

In [4]:
jeltz.marvin('2022jli')

             time band  magnitude  e_magnitude telescope
0    59710.735870    G     14.610     0.010407      Gaia
1    59710.912040    G     14.600     0.010393      Gaia
2    59722.668110    G     14.850     0.010785      Gaia
3    59722.742130    G     14.860     0.010802      Gaia
4    59760.469730    G     14.670     0.010496      Gaia
..            ...  ...        ...          ...       ...
284  60284.000747   w2     11.795     0.034000   NEOWISE
285  57375.786567   w2     12.584     0.101000   NEOWISE
286  57014.644361   w2     12.105     0.056000   NEOWISE
287  59390.111497   w2     12.093     0.040000   NEOWISE
288  60283.419449   w2     11.724     0.033000   NEOWISE

[289 rows x 5 columns]